*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins', sans-serif;
  
}
h1{
    font-size: 47px;
    line-height: 100px;
}
h1 span{
    color:orange;
}
header{
    background:url('./images/top-banner.png') center/cover fixed no-repeat;
    display: flex;
    padding:5% 8%;
    height: 100vh;
    padding-bottom: 150px;

    
}
.header-left{
    width:50%;
}
.header-right{
    width:50%;
    text-align: center;
}
.header-right img{
    width:100%;
}
h3{
    padding:20px 0px;
}
button{
        background: linear-gradient(45deg
, lightsalmon, tomato);
    color:white;
    border:none;
    padding:10px 40px;
    border-radius: 2px;
    margin:20px 0px;
    text-transform: uppercase;
    font-size:15px;
    font-weight: bold;

}